/* RESET + HTML5 */
* {
  margin: 0;
  padding: 0; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

img, object, embed, iframe {
  max-width: 100%; }

section, article, aside, details, figcaption, figure, header, hgroup, menu, nav, footer, small {
  display: block; }

/*MIXINS */
/*VARIABLES */
/*MIXINS */
/*GLOBALS */
html, body, #wrapper {
  height: 100%; }

body {
  background: #c26814;
  font: normal 100% Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
  color: white; }

p {
  margin-bottom: 1em;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2); }

a {
  text-decoration: none;
  color: white; }

a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 2px; }

a.button,
#submit {
  padding: 0.5em 1em;
  font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #444444;
  border: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#bbbbbb));
  background-image: -moz-linear-gradient(0% 100% 90deg, #bbbbbb, white);
  background-color: #bbbbbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

a.button:hover,
#submit:hover {
  text-decoration: none;
  cursor: pointer;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#cccccc));
  background-image: -moz-linear-gradient(0% 100% 90deg, #cccccc, white);
  background-color: #cccccc; }

a.button.alert:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff4500), to(#cc3700));
  background-image: -moz-linear-gradient(0% 100% 90deg, #cc3700, #ff4500);
  background-color: #cc3700;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); }

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.success {
  background: yellowgreen; }

.error {
  background: #ff4500; }

.alert {
  color: #ff4500; }

.current {
  text-decoration: underline; }

.nolist li {
  float: left; }

/*STRUCTURE */
#wrapper {
  padding: 3em 3em 0;
  max-width: 40em;
  margin: 0 auto;
  background: #ab5c12; }

#page {
  padding: 0; }

/*NAV */
nav > ul {
  margin: 1em 0; }
  nav > ul li {
    margin-right: 1em; }

/*FOOTER */
/*TIPOGRAPHY */
/*DISPLAY */
.desktop {
  display: none; }
