body
	padding: 40px 0 0

#wrapper
	max-width: 70em
	margin: 0 auto

#page
	margin: 2em 0

#page-footer
	background: #4d4d4d
	clear: both
	padding: 2em 0
	
/** FORMS */
input[type="text"],
textarea
	width: 100%

textarea
	height: 20em
	
/** MODALS */